body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 375px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a202c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --color-text: black;
  --color-background: lightgray;

  --color-black: #202020;
  --color-dark-grey: #3f3f3f;
  --color-medium-grey: #707070;
  --color-yellow: #ffdf6c;
  --color-white: #ffffff;
}
