@import "./variable";
.detail__container {
  display: flex;
  padding: 10px;

  margin: 20px auto 0;
  .detail__img {
    flex: 1;
    border-right: 0.5px solid #333;
    padding: 20px;
    & img {
      display: block;
      margin: 0 auto;
    }
  }
  .detail__info {
    flex: 2;
    padding: 20px;

    &--name {
      font-size: 25px;
      font-weight: bold;
      line-height: 46px;
      color: #fe544c;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: 1px dashed red;
      font-family: $title-font;
    }
    &--des {
      white-space: pre-wrap;
      margin-top: 20px;
      font-size: 17px;
      font-family: $title-font;
      line-height: 30px;
    }
    &--price {
      font-size: 26px;
      font-weight: bolder;
      color: red;
      font-family: $title-font;
    }
  }
}
.qty-group {
  .qty__input {
    display: flex;
    width: 112px;
    height: 30px;
    border: 0.5px solid green;

    & ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &--btn {
      display: inline-block;
      border: none;
      padding: 5px;
      margin: 0;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      &:hover,
      :focus {
        opacity: 0.9;
      }
      &:focus {
        outline: none;
      }
    }
    &--field {
      border: none;
      outline: none;
      width: 50px;
      height: 100%;
      text-align: center;
      border-left: 0.5px solid green;
      border-right: 0.5px solid green;
    }
  }
}
.cart-btn {
  margin-top: 20px;

  & button {
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background: #fe644c;
    color: white;
    font-family: $title-font;
    font-size: 24px;
    font-weight: 600;
    &:hover,
    :focus {
      opacity: 0.9;
    }
    &:focus {
      outline: none;
    }
  }
}
