//wrapper
.products-slider {
  position: relative;
  max-width: 1344px;
  width: 100%;
  min-height: 300px;
  //   transform: translate(-50% -50%);
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;

  .products__container {
    scroll-behavior: smooth;
    max-width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 40px;
  }
  .product__item {
    min-width: 20%;
    overflow: hidden;
    padding: 5px;
    border: 3px solid white;
    border: 0.5px solid #e4cece;

    @media (max-width: 928px) {
      min-width: 25%;
    }
    @media (max-width: 720px) {
      min-width: 50%;
    }

    @media (max-width: 550px) {
      min-width: 100%;
    }

    .product__img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
    .product__name {
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 10px;
      margin: 5px 0;
    }
    .product__price {
      display: block;
      &::before {
        content: "Price: ";
      }
    }
    .product__category-name {
      &::before {
        content: "Category: ";
      }
    }
  }
}

.slick-arrow {
  position: absolute;
  //   transform: translateY(50%);
  display: flex;
  top: 0px;
  cursor: pointer;

  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background: #f6f7fb;
  border: 2px solid #f6f7fb;
  transition: all 0.25s ease 0s;
  &:hover {
    border: 2px solid black;
    background: white;
  }
}
.slick-prev {
  right: 70px;
}
.slick-next {
  right: 0px;
}
