@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@300&display=swap");

//wrapper
.products-slider {
  position: relative;
  max-width: 1344px;
  width: 100%;
  min-height: 300px;
  //   transform: translate(-50% -50%);
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;

  .products__container {
    scroll-behavior: smooth;
    max-width: 100%;
    display: flex;
    overflow: hidden;
    margin-top: 40px;
  }
}

.slick-arrow {
  position: absolute;
  //   transform: translateY(50%);
  display: flex;
  top: 0px;
  cursor: pointer;

  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background: #f6f7fb;
  border: 2px solid #f6f7fb;
  transition: all 0.25s ease 0s;
  &:hover {
    border: 2px solid black;
    background: white;
  }
}
.slick-prev {
  right: 70px;
}
.slick-next {
  right: 0px;
}
.product__item {
  width: 250px;
  height: 400px;
  position: relative;
  padding: 20px;
  /* background: #f6f7fb; */
  border: 0.5px solid #f6f7fb;
  /* margin: 20px; */

  .product__img {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 25px;
    & > img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .product__name {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
    margin-top: 10px;
    margin: 5px 0;
  }
  .product__price {
    display: block;
    display: block;
    color: #ff6124;
    margin-top: 10px;
    &::before {
      content: "Price: ";
    }
  }
}
