@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$title-font: "Fira Sans", sans-serif;
$text-font: "Roboto", sans-serif;
$border: 0.5px solid rgb(175, 169, 169);
